.root{
    -fx-font-size: 14;
    -fx-text-fill: beige;
    -fx-font-family: Arial;

}

.menu-bar{
//-fx-background-color: mediumblue;
}

.menu{
//-fx-text-fill: beige;
}

.text-area{
//-fx-control-inner-background: mediumblue;
}

.text-field{
//-fx-control-inner-background: mediumblue;
}

.button{
-fx-background-color: mediumblue;
-fx-text-fill: beige;

}

.button:hover{
   // -fx-font-weight: bolder;
}
